.containerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 25px;

  .title {
      font-size: 2.5rem;
      font-weight: normal;

      @media screen and (max-width: 769px) {
          font-size: 2rem;
      }
  }
}